{
  'extends': ['strict'],
  'rules': {
    // this option enforces minimum and maximum identifier lengths
    // (variable names, property names etc.)
    'id-length': [
        2,
        {
            // identifiers must be a minimum of 3 characters
            'min': 3,
            // ... and a max of 50
            'max': 50,
            // ... but `i`, `x`, and `y` are allowed
            'exceptions': [ 'i', 'x', 'y', '_', 'cb', 'lt', 't']
        },
    ],
    // require identifiers to match the provided regular expression
    'id-match': [
        2,
        // identifiers must always be camel cased, and never have two
        // or more contiguous upper case characters.
        '^([A-Z]?[a-z]+([A-Z]{1,2}[a-z]+)*[A-Z]?|id|JSON|_|_.*|.*[Ii]ndexedDB|getMatchedCSSRules)$',
        {
            // identifiers in properties are also checked
            'properties': true,
        }
    ],
    // allow/disallow an empty newline after var statement
    'newline-after-var': [
        2,
        'always',
    ],
    // allow/disallow dangling underscores in identifiers
    'no-underscore-dangle': [0],

    // disallow the use of magic numbers
    'no-magic-numbers': [0],
  }
}
